.card {
    display: flex;
    border: 2px solid #FFC947;
    margin-left: 30px;
}

.card img {
    max-width: 100px;
    max-height: 150px;
}

.card--info {
    color: #EFEFEF;
    margin-left: 10px;
    display: flex;
    width: 100%;
}
.card button{
    padding: 10px 20px 10px 20px;
    max-height: 50px;
    margin: 2% 2% 0 0;
    background-color: #FFC947;
    border: none;
    border-radius: 10px;
    color: #0A1931;
    transition: all ease 0.2s;
}

.card button:hover {
    transform: scale(1.1);
    background-color: #ff0000;
    color: #ffffff;
    cursor: pointer;
}

