.List {
    font-family: sans-serif;
    text-align: center;
}

.favorites-list {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
    list-style: none;
    grid-gap: .1rem;
}

.favorites-list img {
    max-width: 100%;
}
